.footer {
    padding: 4rem 0;
    background-color: black;
    color: #ffff;
    display: flex;
    gap: 270px;
    justify-content: center;
    align-items: center;
}

.footer .footermyintro p {
    width: 550px;
    line-height: 1.5rem;
}

.footer .footersocialmedia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .footersocialmedia .footersocial {
    display: flex;
    gap: 15px;
    font-size: 25px;
    cursor: pointer;
    gap: 20px;
    align-items: center;
}

.footer .footersocialmedia .footersocial a {
    color: white;
}

.footer .footersocialmedia .footersocial a :hover {
    color: rgb(120, 67, 233);
}

.footer .footersocialmedia h3 {
    font-size: 30px;
}

.lastend {
    background-color: black;
    padding: 2rem 0;
    border-top: 1px solid #444;
    color: #eee;
    padding-left: 100px;

}

.lastend .underlinefooter {
    text-align: center;

}

.lastend .underlinefooter span {
    font-size: 14px;
}

.chatsection {
    position: relative;
    display: flex;
    gap: 10px
}

.chatsection .chat {
    background-color: white;
    position: fixed;
    bottom: 20px;
    color: black;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px 20px;
    cursor: pointer;
    padding: 10px 20px;
    right: 90px;
}

.chatsection .chat span {
    color: black;
    text-decoration: dotted;

}

.chatsection i {
    font-size: 30px;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 70px;
    background-color: rgb(120, 67, 233);
    color: white;
    position: fixed;
    right: 10px;
    bottom: 15px;
}

.chatsection i:hover {
    background-color: gold;
}

.underlinefooter a {
    color: rgb(120, 67, 233);
}

/* .Made {
    color: rgb(120, 67, 233);

} */