/* .bgimg      {
    position: absolutes;
    background-image: url(../assest/frame.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
} */
a {
    text-decoration: none;
    color: black;


}

a:hover {
    color: rgb(120, 67, 233);

}

h1 {

    text-align: center;
    text-transform: uppercase;
}

.myinfo img {
    width: 50px;
    height: auto;
}

span {
    font-size: 16px;

}

.myinfo {
    display: flex;
    align-items: center;
    gap: 30px;

}

.headersection {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 40%;
    text-transform: uppercase;
    font-weight: bold;
    height: 90px;
    max-width: 100vmax;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    cursor: pointer;

}

.container {
    /* height: 100vh;
    /* min-height: 100rem; 
    max-height: 120rem; */
    position: relative;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)) center center, url(../assest/frame.png);
    background-position: center center;

}

.navagation {
    display: flex;
    gap: 60px;
    font-size: 13px;
}

body {

    font-family: "Source Sans Pro", sans-serif;


}

.navagation .navigationclick:hover {
    color: rgb(120, 67, 233);

}

.myinfo .clickintro:hover {
    color: rgb(120, 67, 233);
}