@media(max-width:1024px) {
    .headersection {
        position: relative;
        width: 100%;

    }

    .myinfo {
        position: absolute;
        left: 50px;
    }

    .navagation {
        gap: 35%;
    }

    .headersection span {
        font-size: 15px;
    }
}

@media(max-width:768px) {
    .headersection {
        position: relative;
        width: 100%;
    }

    .myinfo {
        position: absolute;
        left: 5px;
        gap: 8%;
    }

    .navagation {
        gap: 15%
    }

    .headersection span {
        font-size: 15px;
    }

}

@media(max-width:600px) {
    body {
        max-width: 100vmax;
        max-height: 10vmax;
    }

    .container {
        max-width: 100vmax;
        max-height: 100vmax;
    }

    .headersection {
        position: relative;
        width: 100%;
    }

    .myinfo {
        position: absolute;
        left: 5px;
    }

    .navagation {
        display: none;
    }

}