.bgcolor {
    background-color: white;
}

.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.aboutme h1 {
    margin-top: 50px;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0.1em;
}

.aboutme p {
    text-align: center;
    font-size: 19px;
    width: 700px;
    line-height: 1.5em;
}

.aboutme .undeline {
    border: 0.8px solid;
    width: 35px;
    height: 5px;
    background-color: rgb(120, 67, 233);
    border-radius: 10px;

}