@media(max-width:768) {
    .Aboutsection .aboutme p {
        line-height: 2em;
        width: 100%;
    }
}

@media(max-width:600px) {
    .Aboutsection .aboutme p {
        /* width: 320px; */
        font-size: 15px;
        line-height: 2em;
        width: 100%;
    }

    .Aboutsection .aboutme h1 {
        font-size: 25px;
    }

}